@import '~@/assets/styles/vars/index.styl';

body
	margin 0
	overflow-y: scroll;
	*
		z-index 1

	#app
		font-family: "GraphikLCG", sans-serif;
		font-size: 16px;
		line-height: 24px;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
		background-color #FFF
		overflow hidden

		.container
			z-index 1
			display: flex
			flex-flow column nowrap
			box-sizing: border-box
			padding-bottom: 0
			padding-top: 0
			margin-left auto
			margin-right auto
			@media (min-width 1160px)
				max-width $XL_break
	.white
		color white !important

	.black
		color $Black_Text !important
	
	a
		text-decoration: none
		
	.pad16  {
		padding 16px 0
	}

	.max960 {
		max-width 960px
		margin auto
	}
	.max760 {
		max-width 760px
		margin auto
	}

	.note {
		opacity .65
		font-size: 16px;
		margin: 0 16px
	}