@import '~@/assets/styles/vars/index.styl';

.section5 {
	.container {
		@media (min-width $LG_break) {
			padding-right: 0
		}
	}
	.section5__content {
		@media (max-width $cta_button_brake) {
			flex-flow column wrap
		}
		@media (min-width $MD_break) {
			flex-flow row nowrap
		}
	
	}
	&__regular {
		@media (min-width $XS_break + 200) {
			max-width: 400px;
		}
	}
	.special {
		line-height: 18px;
		font-size: 13px;
		color $Lighter_Text
		max-width: 400px;
		margin: 20px 0;
		@media (max-width $XS_break + 200) {
			transform: translateY(280px);
			flex-flow: column nowrap;
			text-align: center;
			margin: 0 auto
		}
		.icon {
			margin-right 8px
		}
	}
	.section5_pic {
		display: flex;
		justify-content: center;
		@media (max-width $LG_break) {
			justify-content: end;
			flex-flow column wrap
		}
		svg {
			min-width: 715px;
			max-width 100%
			@media (max-width $XL_break) {
				transform: scale(0.8) translateX(10%);
			}
			@media (max-width $LG_break) {
				transform: scale(0.8) translateX(-10%);
			}

			@media (max-width $XS_break + 200) {
   				transform: scale(0.44) translateX(-60%) translateY(-240px)
    			transform-origin: top;
			}

		}
	}
}