@import '../../../assets/styles/vars';

.header1
	line-height: 46px
	font-size: 38px
	color $Black_Text
	margin 0
	@media (max-width $MD_break){
		line-height: 28px;
		font-size: 22px;
	}
.header2
	line-height: 40px
	font-size: 28px
	color $Black_Text
	margin 0
	font-weight: normal;

.header3
	line-height: 24px
	font-size: 16px
	color $Black_Text
	margin 0

.header4
	line-height: 32px;
	font-size: 20px;
	color $Black_Text
	margin 0

.regular-md
	line-height: 24px;
	font-size: 16px;
	color: $Lighter_Text;
	margin 0

.regular-lg
	line-height: 32px;
	font-size: 20px;
	color: $Lighter_Text;
	margin 0
