@import "../../../assets/styles/vars"

.speech-control
	width 48px
	height 48px
	border 1px solid #D6DCE3
	background none
	box-shadow none!important
	cursor pointer;

	svg
		fill #000000

	&--speaking
		background $Special_Blue!important
		border-color $Special_Blue!important

		svg
			fill #ffffff

	&--recorded
		background #EF4D4D!important
		border-color #EF4D4D!important

		svg
			fill #ffffff

	&.v-btn--floating .v-btn__content :not(:only-child):last-child
		opacity 1
		-webkit-transform rotate(0)
		-moz-transform rotate(0)
		-ms-transform rotate(0)
		-o-transform rotate(0)
		transform rotate(0)