@import '~@/assets/styles/vars/index.styl';

.section1 {
	.container:not(.xs12) {
		padding: 0
	}
	.section1__header {
		display: none
		@media (min-width $XL_break) {
			display: flex
		}
	}
	.section1__header--wide {
		display: flex
		@media (min-width $XL_break) {
			display: none
		}
	}
	&__content {
		margin 0 !important
	}
	&__pic {
		align-items: flex-end;
		display: flex;
		position relative
		align-items: center;
    	justify-content: center;
		@media (min-width $XL_break) {
			max-height: 280px;
		}
		svg, img {
			min-width: 612px;
			transform: translateX(10%) translateY(22%);
			@media (max-width $XL_break) {
				transform: translateX(-10%) translateY(22%);
			}
			@media (max-width $LG_break) {
				margin-bottom: -60px;
				transform: scale(0.8);
				transform-origin: right bottom;
			}
			@media (max-width $cta_button_brake) {
				transform: scale(0.5);
				transform-origin: center top;
				margin-bottom: -248px;
			}

			
			// transform: translateY(22%) translateX(-50%);

			// @media (max-width $XL_break) {
			// 	transform: translateY(22%) translateX(-40%);
			// }
			// @media (max-width $LG_break) {
			// 	transform: translateY(16%) translateX(-30%);
			// }
		}
	}
}
