@import "../../../assets/styles/vars"
@import "../../blocks/SimpleButton/SimpleButton.styl"

.pretest
	margin-top: 100px
	@media(max-width $MD_break){
		margin-top 120px
	}
	img, svg
		max-width: 100%;
	.title
		line-height: 32px;
		font-size: 20px;
		margin: 70px;
		font-weight: bold;
		text-align center
	&__buttons
		@media(max-width: $XS_break) {
			flex-flow column wrap
		}
		max-height: max-content;
		width 100%
		max-width: 520px;
		&_item
			max-height 48px
			margin: 8px

	.v-stepper__content {
		padding 0
	}
	.v-stepper__items {
		width 100%
		max-width: 840px;
	}
	.v-stepper__wrapper {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}
	&__input {
		border-radius: 50px;
		display: flex;
		align-items: center;
		padding-top 0
		@extends .button__simple;
		&:focus,&:hover {
			background-color: #FFF !important;
			color: #fff !important;
		}
		.v-input__control {
			.v-input__slot {
				&:before, &:after {
					display none
				}
			}
			input {
				border: 0;
				padding: 0;
				margin: auto;
				line-height: 48px;
				text-align: center;
				background-color: transparent
			}
			label {
				left: auto !important;
				right: 50% !important;
				position: absolute;
				top: 50%;
				transform: translateY(-50%) translateX(calc(50% + 28px));
				font-size: 12px;
			}
		}
	}
.stepper__clear
	box-shadow none
	padding 0
.stepper__container
	width: 100%;
	align-items: center;
	display: flex;
	justify-content: center;
.back_button
	position absolute !important;
	left 0
	top: 200px
