@import '~@/assets/styles/vars/index.styl';

.section2 {
	.inner {
		margin-bottom: 80px
		padding-top: 80px;
	}
	margin-top: 80px;
	text-align: center;
	.banner {
		text-align left
		color #FFF
		background: #00BAFF;
		box-shadow: 0px 20px 50px rgba(19, 24, 31, 0.1);
		border-radius: 16px;
		flex-flow: column wrap !important;
		padding 24px 52px
		
		@media (min-width $LG_break) {
			background-image url("~@/assets/images/banner_bg.svg")
		}
		background-position: 101% top;
		background-repeat: no-repeat;
		background-size contain
		transform: translateY(80px);
		@media (max-width $XS_break) {
			margin: 0 0px 16px 0;
		}
		p, h1, h2 {
			color #FFF
		}
		p {
			max-width 680px
			@media (max-width $cta_button_brake) {
				font-size: 16px
			}
		}

	}
	&__button {
		margin 32px 0 28px
	}
	.note {
		@media (max-width $cta_button_brake) {
			margin 0
		}
	}
}