@import '../../../assets/styles/vars/index.styl';
.button__simple
	background-color $Main_White
	color $Main_White
	border: 1px solid $Borders_Grey;
	width: 100%;
	max-width: 240px;
	height: 48px;
	margin auto
	flex: 1 1 360px;
	max-height 50px
	bottom 0;
	cursor pointer
	display flex
	@media(max-width: $XS_break) {
		max-width: 360px;
	}
	&:before {
		transition $transition_hover 0s !important
	}
	&:hover, &:focus {
		background-color $Special_Blue !important
		color white !important
		border: 0px solid $Special_Blue;
		.v-btn__content, a {
			color white
			&:hover {
				color white
			}
		}
	}
	.v-btn__content, a
		color $Black_Text
		text-transform: none
		font-weight: normal;
		font-size 16px
		transition none
		&:hover
			color $Lighter_Text
