@import '../../../assets/styles/vars/index.styl';
.button__simple
	background-color $Main_White
	color $Main_White
	width: 100%;
	max-width: 240px;
	min-height 48px
	max-height 48px
	height: fit-content;
	margin auto
	flex: 1 1 360px;
	bottom 0;
	cursor pointer
	display flex
	z-index: 5
	border: 1px solid $Borders_Grey;
	@media(max-width: $XS_break) {
		max-width: 360px;
	}
	&:before {
		position relative
		transition $transition_hover 0s !important
	}
	&:hover, &:focus, &.isActive {
		background-color $Special_Blue !important
		color white !important
		border: 1px solid $Special_Blue;
		position: inherit
		.v-btn__content, a {
			color white !important
		}
	}
	&--next {
		background-color $Special_Blue
		.v-btn__content, a {
			color white !important
		}
		&:hover, &:focus {
			background-color $Special_Blue !important
			color white !important
			border: 1px solid $Special_Blue;
			position: inherit
		}
	}
	&--disabled {
		background: $Borders_Grey;
		.v-btn__content {
			color: #FFFFFF !important;
		}
		&:hover, &:focus {
			background: $Borders_Grey !important
			color white !important
			border: 1px solid white;
			cursor default
		}
	}
	.v-btn__content, a
		color $Black_Text
		text-transform: none
		font-weight: normal;
		font-size 16px
		transition none
		&:hover
			color $Lighter_Text

	&--arrow {
		width: 48px;	
		min-width: 48px
		height: 48px;	
		margin 0
		padding: 0

		&:hover, &:focus {
			background-color #f2f5f9 !important
			color white !important
			border: 1px solid #f2f5f9;
		}
	}
	&--close {
		position: absolute;
		top: 0;
		right: 0;
		margin: 0;
		border: 0;
	}

	&.back_button {
		position: absolute;
		top: 50%;
		left: 0;
		transform: translateY(-50%);
		border: 0 !important;
	}
	&.close_button {
		border: 0 !important
		height: 48px;
		max-width: 48px;
	}