@import "../../../assets/styles/vars"
@import "../../blocks/SimpleButton/SimpleButton.styl"

.testSelf
	margin-top: 24px
	
	.v-stepper {
		width 100%
		box-shadow: none;
		&__content {
			padding 0
		}
		&__items {
			width 100%
			max-width: 840px;
			margin: auto;
		}
		&__wrapper {
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			min-height: 200px;
			padding-bottom: 100px;
		}
		.back_button {
			position: absolute;
			top: 50%;
			left: 0;
			transform: translateY(-50%);
			border: 1px solid #D6DCE3 !important;
		}
	}
	&__body {
		&_picture {
			width 300px
			height 300px
			margin 16px auto
			border 1px solid #00f
		}
		&_question {
			line-height: 32px;
			font-size: 20px;
			text-align: center;
			color: #1E1E1E;
			font-weight: bold;
			width 100%
			margin 16px auto
			max-width 640px
		}
	}
	&__stepperBar {
		color: $Grey
		text-align: center;
		margin: 16px 0;
		span {
			color: $Black_Text;
		}
	}
	&__progressBar
		width 100%
		max-width: 320px;
		height: 6px;
		border-radius: 90px;
		background: $Lighter_Blue;
		overflow: hidden
		margin: auto;
		&_completed
			background: $Special_Blue;
			height: 6px;
			border-radius: 90px;
			transition: $transition_hover;


	.title
		line-height: 32px;
		font-size: 20px;
		margin: 70px;
		font-weight: bold;
		text-align center
	&__buttons
		display flex
		transition: $transition_hover
		@media(max-width: $XS_break) {
			flex-flow column wrap
		}
		max-height: max-content;
		width: 100%;
		max-width: 520px;
		margin: auto;
		position: absolute;
		bottom: 0;
		left: 50%;
		transform: translateX(-50%);
		z-index: 9;

		button
			margin-bottom: 8px
			background-color $Special_Blue
			&:hover, &:focus 
				background-color $Blue_Dark !important
				color white !important
				border: 1px solid $Special_Blue;
				position: relative
			.v-btn__content
				color white
				white-space: normal;
		&_item
			max-height 48px
			margin: 8px

.testSelf__buttons-hide
	transition: opacity 1s
	opacity: 0
	display none
.testSelf__buttons-show
	opacity: 1
	display: flex