@import '../../../assets/styles/vars/index.styl'

.profile-info
	box-shadow: 0 8px 30px rgba(19,24,31,0.08);
	border-radius: 8px;
	margin: 12px 0;
	padding: 20px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	@media (max-width: $MD_break)
		flex-direction column